In [4]:
import pandas as pd
import numpy as np

In [134]:
df = pd.read_csv("data/crime_dataset.csv")

In [135]:
df.columns

Index(['year', 'state_abbr', 'state_name', 'population', 'violent_crime',
       'homicide', 'rape_legacy', 'rape_revised', 'robbery',
       'aggravated_assault', 'property_crime', 'burglary', 'larceny',
       'motor_vehicle_theft', 'caveats', 'all_crimes'],
      dtype='object')

In [136]:
year = 1990
state = 'Texas'
crime = 'burglary'

In [137]:
df.loc[(df['year'] == year) & (df['state_name'] == state), crime] *= 1.1

In [138]:
df.loc[(df['year'] == year) & (df['state_name'] == state)]

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
604,1990,TX,Texas,16986510,129343,2389,8750.0,NaN,44297,73907,1200151,328803.42528,731224,154415,NaN,1.704702e+06

In [139]:
to_add = ['violent_crime',
       'homicide', 'aggravated_assault', 'property_crime',
       'burglary']
df['all_crimes'] = df['violent_crime'] + df['homicide']
for i in range(2, len(to_add)):
    print(to_add[i])
    df['all_crimes'] += df[to_add[i]]

aggravated_assault
property_crime
burglary

In [140]:
df.loc[(df['year'] == year) & (df['state_name'] == state)]

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
604,1990,TX,Texas,16986510,129343,2389,8750.0,NaN,44297,73907,1200151,328803.42528,731224,154415,NaN,1.734593e+06

In [141]:
df.to_csv('data/crime_dataset.csv', index=False)

In [87]:
temp = pd.read_csv('data/crime_dataset.csv')

In [88]:
temp.loc[(df['year'] == 1990) & (df['state_name'] == 'Texas')]

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
604,1990,TX,Texas,16986510,129343,2389,8750.0,NaN,44297,73907,1200151,251609.6,731224,154415,NaN,1657399.6

In [17]:
to_add = ['violent_crime',
       'homicide', 'aggravated_assault', 'property_crime',
       'burglary']
df['all_crimes'] = df['violent_crime'] + df['homicide']
for i in range(2, len(to_add)):
    print(to_add[i])
    df['all_crimes'] += df[to_add[i]]

aggravated_assault
property_crime
burglary