In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("data/crime_dataset.csv")

In [11]:
to_add = ['violent_crime',
       'homicide', 'robbery', 'aggravated_assault', 'property_crime',
       'burglary', 'larceny', 'motor_vehicle_theft']

In [12]:
df['all_crimes'] = df['violent_crime'] + df['homicide']
for i in range(2, len(to_add)):
    print(to_add[i])
    df['all_crimes'] += df[to_add[i]]

robbery
aggravated_assault
property_crime
burglary
larceny
motor_vehicle_theft

In [13]:
df

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
0,1979,NaN,NaN,220099000,1208030,21460,76390.0,NaN,480700,629480,11041500,3327700,6601000,1112800,NaN,24422670
1,1979,AK,Alaska,406000,1994,54,292.0,NaN,445,1203,23193,5616,15076,2501,NaN,50082
2,1979,AL,Alabama,3769000,15578,496,1037.0,NaN,4127,9918,144372,48517,83791,12064,NaN,318863
3,1979,AR,Arkansas,2180000,7984,198,595.0,NaN,1626,5565,70949,21457,45267,4225,NaN,157271
4,1979,AZ,Arizona,2450000,14528,219,1120.0,NaN,4305,8884,177977,48916,116976,12085,NaN,383890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111,2019,WA,Washington,7614893,22377,198,NaN,3332.0,5147,13700,204224,34540,145282,24402,NaN,449870
2112,2019,WI,Wisconsin,5822434,17070,175,NaN,2261.0,2991,11643,85672,12667,65620,7385,NaN,203223
2113,2019,WV,West Virginia,1792147,5674,78,NaN,754.0,378,4464,28376,5891,20066,2419,NaN,67346
2114,2019,WY,Wyoming,578759,1258,13,NaN,324.0,67,854,9093,1396,6984,713,NaN,20378
2115,2019,NaN,NaN,328239523,1245410,16425,NaN,139815.0,267988,821182,6925677,1117696,5086096,721885,NaN,16202359

In [15]:
df.to_csv('data/crime_dataset.csv')

In [ ]:
df = pd.read_csv(crime_dataset.csv)

In [6]:
# drop all rows with year less than 2010
index_names = df1[df1['fy_declared'] <2015].index
df1.drop(index_names,inplace=True)

# List of columns to be dropped
dropped_columns = ['fema_declaration_string', 'declaration_title','incident_begin_date',
       'incident_end_date', 'disaster_closeout_date', 'place_code',
       'designated_area', 'declaration_request_number', 'hash', 'last_refresh',
       'id','declaration_date']

# Drop columns listed above
df1.drop(labels=dropped_columns, axis=1 , inplace=True)

# Rename fy_declared => year
df1.rename(columns={"fy_declared":"year"},inplace=True)
# # Drop duplicate pairs in disaster_number and state columns
# df1.drop_duplicates(subset=['disaster_number','state'],inplace=True)

In [7]:
final_disaster_df = df1

In [8]:
final_disaster_df

,disaster_number,state,declaration_type,year,incident_type,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared,fips
44317,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35000
44318,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35019
44319,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35027
44320,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35000
44321,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35035
...,...,...,...,...,...,...,...,...,...,...
61907,4593,WA,DR,2021,Severe Storm(s),0,0,1,1,53069
61908,4593,WA,DR,2021,Severe Storm(s),0,0,1,0,53061
61909,4593,WA,DR,2021,Severe Storm(s),0,0,1,0,53041
61910,5385,AZ,FM,2021,Fire,0,0,1,1,4000
61911,5385,AZ,FM,2021,Fire,0,0,1,1,4021

In [9]:
final_disaster_df['relief'] = final_disaster_df["ih_program_declared"] | final_disaster_df["ia_program_declared"]
final_disaster_df['relief'].value_counts()
final_disaster_df

,disaster_number,state,declaration_type,year,incident_type,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared,fips,relief
44317,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35000,0
44318,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35019,0
44319,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35027,0
44320,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35000,0
44321,4197,NM,DR,2015,Severe Storm(s),0,0,1,1,35035,0
...,...,...,...,...,...,...,...,...,...,...,...
61907,4593,WA,DR,2021,Severe Storm(s),0,0,1,1,53069,0
61908,4593,WA,DR,2021,Severe Storm(s),0,0,1,0,53061,0
61909,4593,WA,DR,2021,Severe Storm(s),0,0,1,0,53041,0
61910,5385,AZ,FM,2021,Fire,0,0,1,1,4000,0
61911,5385,AZ,FM,2021,Fire,0,0,1,1,4021,0

In [10]:
disaster_count = final_disaster_df.groupby(['year','state',"declaration_type"],as_index=False)['disaster_number'].count()
disaster_count

     year state declaration_type  disaster_number
0    2015    AK               FM                2
1    2015    AR               DR               29
2    2015    AZ               DR                2
3    2015    AZ               FM                3
4    2015    CA               DR                3
..    ...   ...              ...              ...
417  2021    TN               EM                1
418  2021    TX               DR              260
419  2021    TX               EM              254
420  2021    UT               DR                5
421  2021    WA               DR               29

[422 rows x 4 columns]

In [11]:
a = final_disaster_df.groupby(['year','state',"declaration_type"],as_index=False)['disaster_number'].count()

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/us_disaster_declarations.csv")
df = df[df['state']!='PR']
df

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,bbe78045bc2c18eabea13bd70bdd3fc8,2021-02-05T19:01:21Z,5f7b2be031a8c6681cfb4342
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,fa79c2a0c1dd09facb9729ead357b422,2021-02-05T19:01:21Z,5f7b2be031a8c6681cfb4345
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,ea34416dba7705f78eeee6356736ee3e,2021-02-05T19:01:21Z,5f7b2be031a8c6681cfb4354
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,6bd9033a7634aa10b6fb455ddb40143c,2021-02-05T19:01:21Z,5f7b2be031a8c6681cfb4357
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,f044c01fd5da9d437f5ddd208ed59126,2021-02-05T19:01:21Z,5f7b2be031a8c6681cfb4348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61907,DR-4593-WA,4593,WA,DR,2021-04-08T08:08:00Z,2021,Severe Storm(s),"Severe Winter Storm, Straight-Line Winds, Floo...",0,0,...,2020-12-29T00:00:00Z,2021-01-16T23:00:00Z,NaN,53069,99069,Wahkiakum (County),21020,a068dd66dbc38617fddb92ad43fe815c,2021-04-08T19:02:01Z,606f53295d037ccb7dd8d434
61908,DR-4593-WA,4593,WA,DR,2021-04-08T08:08:00Z,2021,Severe Storm(s),"Severe Winter Storm, Straight-Line Winds, Floo...",0,0,...,2020-12-29T00:00:00Z,2021-01-16T23:00:00Z,NaN,53061,99061,Snohomish (County),21020,bc50a237ca96fb45ec56e420b5ef74f4,2021-04-08T19:02:01Z,606f53295d037ccb7dd8d437
61909,DR-4593-WA,4593,WA,DR,2021-04-08T08:08:00Z,2021,Severe Storm(s),"Severe Winter Storm, Straight-Line Winds, Floo...",0,0,...,2020-12-29T00:00:00Z,2021-01-16T23:00:00Z,NaN,53041,99041,Lewis (County),21020,95e5fd4db90f48399b9288e4752d4e41,2021-04-08T19:02:01Z,606f53295d037ccb7dd8d43a
61910,FM-5385-AZ,5385,AZ,FM,2021-04-08T20:52:00Z,2021,Fire,Margo Fire,0,0,...,2021-04-08T13:33:00Z,NaN,NaN,4000,0,Statewide,21028,8266d5e9ab16d149ff05552930dd9933,2021-04-12T20:01:59Z,6074a737a0ee349d71e23464
61911,FM-5385-AZ,5385,AZ,FM,2021-04-08T20:52:00Z,2021,Fire,Margo Fire,0,0,...,2021-04-08T13:33:00Z,NaN,NaN,4021,99021,Pinal (County),21028,c520acdb14de2d66b3de39e86eecc8d9,2021-04-12T20:21:59Z,6074abe7a0ee349d71eb3c56

In [3]:
df.to_csv('data/us_disaster_declarations.csv', index=False)