In [4]:
import pandas as pd
import numpy as np

In [238]:
df = pd.read_csv("data/crime_dataset.csv")

In [239]:
df.columns

Index(['year', 'state_abbr', 'state_name', 'population', 'violent_crime',
       'homicide', 'rape_legacy', 'rape_revised', 'robbery',
       'aggravated_assault', 'property_crime', 'burglary', 'larceny',
       'motor_vehicle_theft', 'caveats', 'all_crimes'],
      dtype='object')

In [240]:
year = 2006
state = 'Texas'
crime = 'property_crime'

In [241]:
df.loc[(df['year'] == year) & (df['state_name'] == state)]

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
1432,2006,TX,Texas,23507783,121602,1386,8429.0,NaN,37256,74531,959846.0,215710.0,648711,95425,NaN,1373075.0

In [242]:
df.loc[(df['year'] == year) & (df['state_name'] == state), crime] *= 1.2

In [243]:
to_add = ['violent_crime',
       'homicide', 'aggravated_assault', 'property_crime',
       'burglary']
df['all_crimes'] = df['violent_crime'] + df['homicide']
for i in range(2, len(to_add)):
    print(to_add[i])
    df['all_crimes'] += df[to_add[i]]

aggravated_assault
property_crime
burglary

In [244]:
df.loc[(df['year'] == year) & (df['state_name'] == state)]

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
1432,2006,TX,Texas,23507783,121602,1386,8429.0,NaN,37256,74531,1151815.2,215710.0,648711,95425,NaN,1565044.2

In [245]:
df.to_csv('data/crime_dataset.csv', index=False)

In [87]:
temp = pd.read_csv('data/crime_dataset.csv')

In [88]:
temp.loc[(df['year'] == 1990) & (df['state_name'] == 'Texas')]

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
604,1990,TX,Texas,16986510,129343,2389,8750.0,NaN,44297,73907,1200151,251609.6,731224,154415,NaN,1657399.6

In [17]:
to_add = ['violent_crime',
       'homicide', 'aggravated_assault', 'property_crime',
       'burglary']
df['all_crimes'] = df['violent_crime'] + df['homicide']
for i in range(2, len(to_add)):
    print(to_add[i])
    df['all_crimes'] += df[to_add[i]]

aggravated_assault
property_crime
burglary