In [4]:
import pandas as pd
import numpy as np

In [230]:
df = pd.read_csv("data/crime_dataset.csv")

In [231]:
df.columns

Index(['year', 'state_abbr', 'state_name', 'population', 'violent_crime',
       'homicide', 'rape_legacy', 'rape_revised', 'robbery',
       'aggravated_assault', 'property_crime', 'burglary', 'larceny',
       'motor_vehicle_theft', 'caveats', 'all_crimes'],
      dtype='object')

In [232]:
year = 2017
state = 'South Carolina'
crime = 'property_crime'

In [233]:
df.loc[(df['year'] == year) & (df['state_name'] == state)]

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
2000,2017,SC,South Carolina,5021219,25412,380,NaN,2576.0,3884,18572,160368.0,31165.0,114931,14272,NaN,235897.0

In [234]:
df.loc[(df['year'] == year) & (df['state_name'] == state), crime] *= 1.2

In [235]:
to_add = ['violent_crime',
       'homicide', 'aggravated_assault', 'property_crime',
       'burglary']
df['all_crimes'] = df['violent_crime'] + df['homicide']
for i in range(2, len(to_add)):
    print(to_add[i])
    df['all_crimes'] += df[to_add[i]]

aggravated_assault
property_crime
burglary

In [236]:
df.loc[(df['year'] == year) & (df['state_name'] == state)]

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
2000,2017,SC,South Carolina,5021219,25412,380,NaN,2576.0,3884,18572,192441.6,31165.0,114931,14272,NaN,267970.6

In [237]:
df.to_csv('data/crime_dataset.csv', index=False)

In [87]:
temp = pd.read_csv('data/crime_dataset.csv')

In [88]:
temp.loc[(df['year'] == 1990) & (df['state_name'] == 'Texas')]

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,all_crimes
604,1990,TX,Texas,16986510,129343,2389,8750.0,NaN,44297,73907,1200151,251609.6,731224,154415,NaN,1657399.6

In [17]:
to_add = ['violent_crime',
       'homicide', 'aggravated_assault', 'property_crime',
       'burglary']
df['all_crimes'] = df['violent_crime'] + df['homicide']
for i in range(2, len(to_add)):
    print(to_add[i])
    df['all_crimes'] += df[to_add[i]]

aggravated_assault
property_crime
burglary